h1 {
	padding-top: 40px;
}

button {
	margin: 40px 0px 40px 0px;
}

img {
	max-width: 60%;

}

html, body {
	height:90%;
  font-family: Lato, Arial, "Times New Roman", Times, serif;
}

ul {
	height: 30%;
}

ul li:hover {
	background-color: blue;
}

ul li {
	/*background-color: #bfbfbf;*/
	list-style: none;
	padding-top: 20px;
	width: 50%;
	margin: auto;
	border-radius: 5px;
	font-size: 20px;
	line-height: 30px;
}

.container {
	height: 80%;
	width: 70%;
	margin: auto;
	text-align: center;
	background-color: #a6baed
}

.answer-section, .results-section{
	padding-left: 0px;
	padding-bottom: 50px;
}

.dynamic-section {
	background-color: #bfbfbf;
	height: 100%;
}

#question { 
	padding-top: 60px;
	font-size:20px;
	font-weight: bold;
}

.results:hover {
	background-color: none;
}