h1 {
	padding-top: 40px;
}

h1, .timer {
	color: wheat;
}

.btn {
  margin-top:10%;
  background: #00cc0a;
  background-image: -webkit-linear-gradient(top, #00cc0a, #008507);
  background-image: -moz-linear-gradient(top, #00cc0a, #008507);
  background-image: -ms-linear-gradient(top, #00cc0a, #008507);
  background-image: -o-linear-gradient(top, #00cc0a, #008507);
  background-image: linear-gradient(to bottom, #00cc0a, #008507);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: solid 1px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #00ba03;
  background-image: -webkit-linear-gradient(top, #00ba03, #006303);
  background-image: -moz-linear-gradient(top, #00ba03, #006303);
  background-image: -ms-linear-gradient(top, #00ba03, #006303);
  background-image: -o-linear-gradient(top, #00ba03, #006303);
  background-image: linear-gradient(to bottom, #00ba03, #006303);
  text-decoration: none;
}

img {

max-height: 75%;

}

html, body {
	height:95%;
  font-family: Lato, Arial, "Times New Roman", Times, serif;
}

ul {
	height: 30%;
}

ul li:hover {
	background-color: #25aeff;
}

ul li {
	/*background-color: #bfbfbf;*/
	list-style: none;
	vertical-align: middle;
	width: 50%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	font-size: 20px;
	line-height: 30px;
}

.container {
	height: 80%;
	width: 70%;
	margin: auto;
	text-align: center;
	background-color: #3f4156;
	border-radius: 15px;
}

.correct-answer, .wrong, .done {

	padding-top: 20px;

}

.answer-section, .results-section{
	padding-left: 0px;
	padding-bottom: 50px;
}

.dynamic-section {
	background-color: #76e899;
	border-bottom-right-radius: 15px; 
	border-bottom-left-radius: 15px;
	height: 100%;
}

#question { 
	padding-top: 60px;
	font-size:20px;
	font-weight: bold;
}

.results:hover {
	background-color: none;
}